* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Inconsolata, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.9);
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #00ff00;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #00ff00;
    color: #000000;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #00ff00;
    color: #000000;
}

#battery {
    background-color: #00ff00;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #000000;
    background-color: #00ff00;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #ffffff;
}

#memory {
    background-color: #00ff00;
    color: #000000;
}

#backlight {
    background-color: #00ff00;
}

#pulseaudio {
    background-color: #00ff00;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #00ff00;
}

#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#scratchpad {
    color: #ffffff;
}

#scratchpad.empty {
    background-color: transparent;
}

